@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Mitr:wght@200;300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pacifico&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Mitr:wght@200;300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pacifico&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto Slab',sans-serif;
}

.container-fluid  {
    background-color: #4a4a4a;
    position: fixed;
    z-index: 1000;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
    
}

.logo {
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}



.header-nav-list{
    margin-top: 0.8em;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav-list-item {
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
}

a.header-nav-link {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

a.header-nav-link:hover {
    color: rgb(122, 118, 118);
    text-decoration: none;
}

/* .slide1 {
    position: relative;
}

.intro {
    position: absolute;
    top: 85%;
    font-size: 2em;color:white;
    left: 50%;
    transform: translateX(-50%);
} */

.banner-2-link {
    position: relative;
    
}

.banner-2-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

}


.col-banner:hover a{
   opacity: 0.8;
   transition: 0.5s;
}

.col-banner p {
    text-align: center;
    color: rgba(255, 255, 255, 0.959);
    font-size: 1.3em;
    transition: 0.5s linear;
    font-family: 'Dancing Script';
}

.col-banner:hover p {
    color: rgba(255, 255, 255, 0.959);
    font-size: 25px;
}





.banner-parallax {
    margin-top: 24px;
    min-height: calc(100vh - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.banner-parallax-img {
    background-image: url(../img/images2714931_1vong_xoang_ngay_Hoi.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;background-size: cover;
    min-height: calc(60vh - 50px);
    position: relative;
}


.banner-parallax-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
}

.welcome {
    max-width: 550px;
    color: white;
    font-size: 3em;
    font-weight: 700;
    text-align: end;
    font-family: 'Dancing Script';

}

.box_opaci {
    width: 100%;
    height: 100px;
}


.start {
    text-align: center;
    margin-bottom: 34px;
}

.start-link {
    display: flex;
    flex-wrap: wrap;
}


footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #4a4a4ab9;;

}

footer > p {
    margin: 0rem 4rem;
    text-align: center;
    color: rgb(255, 254, 254);
}





